In [25]:
# 1. What is the output of the following code?

var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)
# var3 is string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# 2. What is the output of the following code?

valueOne = 5 ** 2  # power
valueTwo = 5 ** 3  # power

print(valueOne)
print(valueTwo)

25
125

In [8]:
# 3. What is the output of the following

x = 36 / 4 * (3 +  2) * 4 + 2  # bodmas rule
print(x)

182.0

In [10]:
# 4. What is the output of the following code?

var= "James Bond"
print(var[2::-1])

maJ

In [11]:
# 5. What is the output of the following code?

p, q, r = 10, 20 ,30  # assigning multiple variable at once
print(p, q, r)

10 20 30

In [13]:
# 6. What is the output of the following code?

str = "pynative"
print (str[1:3])

yn

In [15]:
# 7. What is the output of the following code?

sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki") # set has not index 
print(sampleSet)

TypeError: add() takes exactly one argument (2 given)

In [26]:
sampleSet.add(1)
sampleSet

{1, 'Eric', 'Garry', 'Jodi'}

In [29]:
# 8. What is the output of the following code?

sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")  # wrong method
print(sampleList)

TypeError: append() takes exactly one argument (2 given)

In [30]:
sampleList.insert(2, "Scott")
sampleList

['Jon', 'Kelly', 'Scott', 'Jessa']

In [31]:
# 9. What is the output of the following code?

var = "James" * 2  * 3 #repea james 2*3 = 6 times
print(var)

JamesJamesJamesJamesJamesJames

In [37]:
# 10. What is the output of the following code?

listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)
# print(id(listOne),id(listTwo)) # here is also checked

True
False
140321418985872 140321418985552

In [33]:
# 11. What would be the output of the following 

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [34]:
# 12. What would be the output of the following

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [35]:
# 13. What is the following code doing ?

L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']

Question : Given two list of numbers and another list of operations, perform the operation on the list of numbers as per the operation

list1 = [1, 4, -9, -5.2, 8.5, 10]
list2 = [10, 5, -3, 2, 0.5, 1.3]
list3 = ['+', '*', '-', '*', '/', '+']


output_list = [1+10, 4*5, -9 - (-3), ....]
output_list = [11, 20, -6, ...]

In [38]:
list1 = [1, 4, -9, -5.2, 8.5, 10]
list2 = [10, 5, -3, 2, 0.5, 1.3]
list3 = ['+', '*', '-', '*', '/', '+']

In [52]:
output_list_1 =[]
output_list_2 =[]

for i in range(len(list1)):
    output_list_1.append(f"{list1[i]} {list3[i]} {list2[i]}")
    if list3[i]=='+':
        result = list1[i]+list2[i]
    elif list3[i]=='*':
        result = list1[i]*list2[i]
    elif list3[i]=='-':
        result = list1[i]-list2[i]
    elif list3[i]=='/':
        result = list1[i]/list2[i]
    else:
        result = "error"
    output_list_2.append(result)

In [55]:
print(output_list_1)
print(output_list_2)

['1 + 10', '4 * 5', '-9 - -3', '-5.2 * 2', '8.5 / 0.5', '10 + 1.3']
[11, 20, -6, -10.4, 17.0, 11.3]

In [56]:
list(zip(output_list_1,output_list_2))

[('1 + 10', 11),
 ('4 * 5', 20),
 ('-9 - -3', -6),
 ('-5.2 * 2', -10.4),
 ('8.5 / 0.5', 17.0),
 ('10 + 1.3', 11.3)]

In [64]:
for i,j in enumerate({1,2,3,"me"}):
    
    print(i,j)
set(enumerate({1,2,3,"me"}))

0 1
1 2
2 3
3 me

{(0, 1), (1, 2), (2, 3), (3, 'me')}

In [68]:
for i in list(range(10)):
    if i == 3:
        # print(i)
        continue
        print(i)

Exercise :

1. Create a list of 10 employees
2. Create tuple of salaries of these 10 employees
3. Create a tuple of rating of these 10 employees ( 0 - 10 )
4. Generate a dictionary of employees and their new salaries based on their ratings 
    The update to salaries should be as 
    
    a. For rating 0 - 3 no salaries should be updated
    
    b. For rating 3 - 5 a 3% increment to be given
    
    c. For rating 5 - 7 a 5% increment to be given
    
    d. For rating 7 - 9 a 7% increment to be given
    
    e. For rating 9 and above a 7% increment and a bonus of 10% of initial salary to be given

In [69]:
employee = ['John', 'Mary', 'Krishna', 'Namesh', 'Aastha', 'Jason', 'Kavita', 'Ravi', 'Shruti', 'Shubham']
salaries = (10000, 12000, 13000, 18500, 11000, 19800, 20000, 23500, 19450, 8000)
ratings = (2.3, 4.7, 4.3, 9.9, 8.4, 6.1, 6.1, 4.0, 8.8, 9.3)

In [74]:
emp_dict = {}

for i in range(len(employee)):
    if ratings[i]<3:
        emp_dict[employee[i]] = salaries[i]
    elif ratings[i]<5:
        emp_dict[employee[i]] = salaries[i]*1.03
    elif ratings[i]<7:
        emp_dict[employee[i]] = salaries[i]*1.05
    elif ratings[i]<9:
        emp_dict[employee[i]] = salaries[i]*1.07
    else:
        emp_dict[employee[i]] = salaries[i]*1.17

In [75]:
emp_dict

{'John': 10000,
 'Mary': 12360.0,
 'Krishna': 13390.0,
 'Namesh': 21645.0,
 'Aastha': 11770.0,
 'Jason': 20790.0,
 'Kavita': 21000.0,
 'Ravi': 24205.0,
 'Shruti': 20811.5,
 'Shubham': 9360.0}